* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.avatar {
  width: 12.5rem;
  height: 12.5rem;
  position: relative;
  margin: 0 auto;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%
}

html {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

p {
  font-size: 1.3rem;
  margin-top: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
}

li {
  /*list-style: none;*/
}

a {
  color: #000000;
  text-decoration: none;
}

.intro-wrapper, .about-wrapper, .projects-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-heading, .about-heading, .projects-heading {
  padding-top: 3rem;
  margin-bottom: 75px;
  text-align: center;
}

.intro-heading {
  font-size: 3.5rem;
  padding-top: 0rem
}

.intro-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.props {
  text-align: center;
}

.intro-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.intro-icon {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}

.intro-heading {
  margin-bottom: 0;
}

.project-item {
  margin: 20px 0px;
}

.project-item-link {
  font-size: 2rem;
  border-bottom: 4px double #BBBBBB;
}

.project-item-description {
  font-size: 1.3rem;
  line-height: 35px;
}

.enlarge {
  font-weight: 900;
  font-size: 1.75rem;
}

.mozilla-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.mozilla-logo {
  width: 100%;
  height: 100;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .enlarge {
    font-size: 1.5rem;
  }
  .project-item-link {
    font-size: 1.75rem;
  }
  p, .project-item-description {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  .enlarge {
    font-size: 1.3rem;
  }
  .project-item-link {
    font-size: 1.5rem;
  }
  p, .project-item-description {
    font-size: 1rem;
  }
}